#home{
  padding: 50px 0;
  .home{
    h3{
      font-weight: 770;
      font-size: 54px;
      line-height: 68px;
      text-align: center;
      color: #151414;
    }
    p{
      font-weight: 750;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #3B433E;
    }
    &--too{
      flex-wrap: wrap;
      margin-top: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--car{
      h5{
        font-weight: 750;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        background: linear-gradient(180deg, #39463F 0%, #101612 100%);
        -webkit-background-clip: text;
      }
      img{
        margin-left: 80px;
      }
      h4{
        font-weight: 770;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #181D19;

      }
    }
    &--anna{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &--can{
      padding: 20px 0;
      h2{
        font-weight: 780;
        font-size: 44px;
        line-height: 55px;
        text-align: center;
        color: #000000;
      }
      p{
        font-weight: 760;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #545454;
      }
    }
  }
}