.container{
  width: 90%;
  margin: 0 auto;
}
#header{
  box-shadow: 0 3px 15px rgba(0 , 0, 0, 0.15);
  padding: 10px 0;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    h3{
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
      color: #ffffff;
    }
    &--off{
      a{
        margin: 20px;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        color: white;      }
      a:hover{
        color: #5FB848;;
      }
    }
    &--nov{
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #FFFFFF;
        width: 160px;
        height: 54px;
        background: #494949;
        border-radius: 27px;
      }
      button:hover{
        background: white;
        color: #000;
      }
      input{
        margin-right: 10px;
        border-radius: 50px;
        background: none;
        display: none;
        padding: 12px 20px;
        font-size: 19px;
        color: #2C3847;
      }
    }
    &--too{
      margin-right: 10px;
      width: 25px;
      //color: rgba(19, 2, 2, 0.85);
      height: 25px;
    }
  }
}

@media (max-width: 1200px) {
  
}